<div class="container page-container">

  <div class="row">
    <div class="p-2 col-2">
      <app-sidebar-filter></app-sidebar-filter>
    </div>

    <div class="p-2 col-10">

      <div class="row justify-content-center">
          <app-top-filter (changeSort)="changeSortedItems($event)"
          (changeNumOfItemsToShow)="changeNumberOfItemsToShow($event)"></app-top-filter>
      </div>

      <div class="row justify-content-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div *ngFor="let item of products" class="mb-3 mt-0">
            <app-product [product]="item" (emitClickedProduct)="clickedProductOpenDetails($event)"
            (emitToggle)="emittedToggle($event)"></app-product>
          </div>
        </div>
      </div>

      <div class="row pt-4">
          <app-pagination (currentPageChange)="currentPageChange($event)"></app-pagination>
      </div>

      <div>
          <app-product-details [selectedProduct]="selectedProduct" [toggle]="toggle"></app-product-details>
      </div>
    </div>
  </div>
</div>

