<div class="container page-container">

  <div class="row">
    <div class="p-2 col-2">
        <app-sidebar-filter (selectedSellerEmit)="onSellerFilterChange($event)"
                            (selectedProductBrandEmit)="onBrandFilterChange($event)"
                            (selectedAvailabilityEmit)="onAvailabilityFilterChange($event)"></app-sidebar-filter>
    </div>

    <div class="p-2 col-10">

      <div class="row justify-content-center">
          <app-top-filter (changeSort)="changeSortedItems($event)"
          (changeNumOfItemsToShow)="changeNumberOfItemsToShow($event)"></app-top-filter>
      </div>

      <div class="row justify-content-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div *ngFor="let item of products" class="mb-3 mt-0">
            <app-product [product]="item" (emitClickedProduct)="clickedProductOpenDetails($event)"
            (emitToggle)="emittedToggle($event)"></app-product>
          </div>
        </div>

        <div *ngIf="products!.length == 0" class="d-flex justify-content-center align-items-center" style="height: 500px;">
            <div class="text-center">
                <span class="d-block" style="color: red; font-size: 100px"><i class="fa-solid fa-triangle-exclamation"></i></span>
                <span class="d-block fs-5">Oops! It looks like there are no items to show.</span>
            </div>
            
        </div>
      </div>

      <div class="row pt-4 mt-4 text-center">
          <app-pagination (currentPageChange)="currentPageChange($event)"></app-pagination>
      </div>

      <div>
          <app-product-details [selectedProduct]="selectedProduct" [toggle]="toggle"></app-product-details>
      </div>
    </div>
  </div>
</div>

