body {
  overflow-y: scroll;
}

.home-container {
  width: 100%;
  padding: 115px 0px 0px 0px;
}
.parabola {
  width: 500px;
  height: 100px;
  border: solid 5px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}

.box {
  --mask: radial-gradient(125.43px at 50% 173.4px,#000 99%,#0000 101%) calc(50% - 136px) 0/272px 100%, radial-gradient(125.43px at 50% -105.4px,#0000 99%,#000 101%) 50% 68px/272px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  z-index: 1;
}

.message-container {
  padding: 6rem 13.5rem 6rem 13.5rem;
  position: relative
}

.phone-img-container {
    position: absolute;
    z-index: -999;
    width: 55%;
    right: 0%;
    top:50%;
    transform: rotate(18deg);
}

.main-message {
    font-size: 4.3rem
}

.shop-link{
    cursor: pointer;
}

.shop-link:hover {
    
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.section-container {
  padding: 0px 13.5rem 0px 13.5rem
}

.sale-container {
    padding: 9rem 0 9rem 0;
}

.brand-badge {
    cursor:pointer;
}

.brand-badge:hover {
  color: white !important;
  background-color: #ffb303 !important;
}

.blob {
  transform: scale(1);
  animation: pulse 0.75s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
