.products-footer-container {
  width: 90%;
  padding: 0px 100px 0 100px;
}

.product-list-label {
    /*text-decoration: underline;*/
    font-size: larger;
    font-weight: bold;
}

hr {
  color: #FED700;
  background-color: rebeccapurple;
  border-width: 0.15em;
  opacity: 0.5;
}
