.products-footer-container {
  background-color: #F8F8F8;
  padding: 0px 13.5rem 0 13.5rem;
  
}

.product-list-label {
    /*text-decoration: underline;*/
    font-size: larger;
    font-weight: bold;
}

hr {
  color: #FED700;
  background-color: rebeccapurple;
  border-width: 0.15em;
  opacity: 0.5;
}

.product-link {
    cursor: pointer;
}

.product-link:hover {
    color: cadetblue;
}
