/* You can add global styles to this file, and also import other style files */
body {
    overflow-y: scroll;
}

.page-container {
  width: 90%;
  padding: 115px 100px 50px 100px;
}

.fs-xsmall {
  font-size: x-small;
}

.fs-smaller {
  font-size: smaller;
}

.origPrice {
  text-decoration: line-through;
  font-weight: lighter;
  color: black;
  opacity: 50%;
}

.discountedPrice {
  font-size: x-large
}
