
<div class="pb-3">
    <h6><strong>Availability:</strong></h6>
    <div class="form-check" *ngFor="let item of availability">
        <input class="form-check-input checkbox" type="radio" name="selectedAvailability" [value]="item" [id]="item" [(ngModel)]="selectedAvailability" (change)="onAvailabilitySelect()">
        <label class="form-check-label ps-1" [for]="item">
            {{item}}
        </label>
    </div>
</div>

<div class="pb-3">
    <h6 class="d-inline"><strong>{{brandsToShowLabel}}:</strong></h6>
    <div class="form-check form-switch d-flex align-items-center">
        <input class="form-check-input form-check-input-switch" type="checkbox" role="switch" id="brandsSwitch" [(ngModel)]="brandsSwitch" (change)="onBrandsToViewChange()"/>
        <label class="form-check-label ps-2" for="brandsSwitch">{{toggleAllSwitch}}</label>
    </div>
    <div class="form-check" *ngFor="let brand of productBrands">
        <input class="form-check-input checkbox" type="radio" name="selectedProductBrand" [value]="brand" [id]="brand" [(ngModel)]="selectedProductBrand" (change)="onProductBrandSelect()">
        <label class="form-check-label ps-1" [for]="brand">
            {{brand}}
        </label>
    </div>
</div>

<div class="pb-3">
    <h6 class="d-inline"><strong>{{sellersToShowLabel}}:</strong></h6>
    <div class="form-check form-switch d-flex align-items-center">
        <input class="form-check-input form-check-input-switch" type="checkbox" role="switch" id="sellersSwitch" [(ngModel)]="sellersSwitch" (change)="onSellersToViewChange()" />
        <label class="form-check-label ps-2" for="sellersSwitch">{{toggleAllSwitch}}</label>
    </div>

    <div class="form-check" *ngFor="let seller of productSellers">
        <input class="form-check-input checkbox" type="radio" name="selectedProductSeller" [value]="seller" [id]="seller" [(ngModel)]="selectedSeller" (change)="onSellerSelect()">
        <label class="form-check-label ps-1" [for]="seller">
            {{seller}}
        </label>
    </div>
</div>
