.form-check-label {
  cursor: pointer;
}

.checkbox:checked {
    background-color: gray;
    border-color: dimgray;
}

.form-check-label {
  font-size: small;
}

.form-check-input-switch {
    width: 21.6px;
    height: 11.6px;
}
