<div class="container">
    <form class="">
        <span class="d-block pb-3 group-label">Create Delivery Method:</span>

        <div class="row align-items-center pb-3">
            <div class="col-2">
                <label for="deliveryMethodName" class="form-label m-0 p-0">Name</label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" id="deliveryMethodName" name="deliveryMethodName" [(ngModel)]="deliveryMethodName">
            </div>
        </div>

        <div class="row align-items-center pb-3">
            <div class="col-2">
                <label for="deliveryMethodDeliveryDays" class="form-label m-0 p-0">Delivery Days</label>
            </div>
            <div class="col-4">
                <input type="number" class="form-control" id="deliveryMethodDeliveryDays" name="deliveryMethodDeliveryDays" [(ngModel)]="deliveryMethodDays">
            </div>
        </div>

        <div class="row align-items-center pb-3">
            <div class="col-2">
                <label for="deliveryMethodDescription" class="form-label m-0 p-0">Description</label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" id="deliveryMethodDescription" name="deliveryMethodDescription" [(ngModel)]="deliveryMethodDescription">
            </div>
        </div>

        <div class="row align-items-center pb-3">
            <div class="col-2">
                <label for="deliveryMethodPrice" class="form-label m-0 p-0">Price</label>
            </div>
            <div class="col-4">
                <input type="number" class="form-control" id="deliveryMethodPrice" name="deliveryMethodPrice" [(ngModel)]="deliveryMethodPrice">
            </div>
        </div>

        <div class="col d-flex justify-content-end">
            <button class="btn btn-primary px-4" type="submit" (click)="testClick()">Test</button>
        </div>

    </form>


</div>
