.container {
  min-width: 100%;
  padding: 115px 13rem 0px 13rem;
}

.form-label {
    font-weight: normal;
}

.group-label {
    font-weight: 700;
    font-size: 20px;
}

.validation {
    font-size: 15px;
    font-weight: 500;
    padding-left: 30px;
}

.invalid {
    color: red;
}

.valid {
    color: green; 
}
