li {
    cursor: pointer;
}

.pagination {
    color: black
}

.page-link.active {
  background-color: lightgray;
  border-color: black;
  color: black;
  font-weight: bold;
}

.page-link {
    color: black;
    width: 40px;
    align-content: center;
    text-align: center
}

.page-number {
  border: solid 1px dimgrey;
  border-radius: 0.2rem;
  color: dimgrey;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  height: 25px;
  width: 25px;
  margin: 0 2px;
  font-size: 12px;
  cursor: pointer;
}

.page-number:hover {
  color: white;
  background-color: #1D1F20;
  border-color: #1D1F20;
}

.page-number-active {
  color: white;
  background-color: #1D1F20;
  border-color: #1D1F20;
}

.disabled {
  pointer-events: none;
  background-color: lightgrey;
  border-color: lightgrey;
  opacity: 50%;
}
