<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="onPrevClick()"><i class="fas fa-backward-fast"></i></a>
    </li>

    <li class="page-item" *ngFor="let int of numOfPagings">
        <div *ngIf="firstEntryPage + int <= maxPageNumber">
            <a class="page-link" [class.active]="currentPage == firstEntryPage + int" (click)="pageNumberClick($event)">{{firstEntryPage + int}}</a>
        </div>
    </li>

    <li class="page-item" [class.disabled]="firstEntryPage + numOfPagings.length > maxPageNumber">
        <a class="page-link" (click)="onNextClick()"><i class="fas fa-fast-forward"></i></a>
    </li>
  </ul>
</nav>
