<div class="text-center m-0 p-0 d-flex align-items-center justify-content-end">

    <div class="page-number d-flex align-items-center justify-content-center" (click)=onPrevPaginationClick()
         [class.disabled]="pagination.pageNumber <= pagination.totalNumberOfPages">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div *ngFor="let number of pagination.pageNumberList">
        <div class="page-number d-flex align-items-center justify-content-center"
             (click)=onPageNumberClick(number+1)
             [class.page-number-active]="number + 1 == pagination.pageNumber"
             *ngIf="number + 1 <= pagination.maxPossiblePageNumber">
            {{number + 1}}
        </div>
    </div>
    <div class="page-number d-flex align-items-center justify-content-center"
         (click)=onNextPaginationClick()
         [class.disabled]="!pagination.enableNextPageClick">
        <i class="fa-solid fa-chevron-right"></i>
    </div>

</div>

