.site-footer-container {
  color: white;
  background-color: #183153;
  padding: 0px 13.5rem 0 13.5rem;
  font-size: 0.9em;
}

.nav-link {
    cursor: pointer;
    margin-bottom: 0.5em;
}

.nav-link:hover {
    color:#80CAF4;
}

.nav-link-site {
  cursor: pointer;
  margin-bottom: 0.5em;
}

.nav-link-site:hover {
    color: #80CAF4;
}
