<div class="site-footer-container pt-4 pb-2">
    <div class="row">
        <div class="col-lg-6 col-sm pe-5">
            <i class="fa-solid fa-basket-shopping fs-3 pb-3"></i>
            <p><strong>Shop for your favorite phone brands now!</strong></p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a justo sodales, mollis mi a, iaculis leo. Maecenas vestibulum urna et ligula ultrices tempor. Mauris auctor elit ac nisl consectetur accumsan. 
            </p>
        </div>
        <div class="col-lg-3 col-sm ps-5">
            <span class="d-block pb-1 fw-bold mb-1" style="color:rgb(97,109,138)">Directory</span>
            <span class="d-block nav-link" routerLink="/home">Home</span>
            <span class="d-block nav-link" routerLink = "/shop">Shop</span>
            <span class="d-block nav-link">How to Buy</span>
            <span class="d-block nav-link">Events</span>
            <span class="d-block nav-link">About Us</span>
        </div>
        <div class="col-lg-3 col-sm">
            <span class="d-block pb-1 fw-bold mb-1" style="color:rgb(97,109,138)">Connect with Us!</span>
            <div class="fs-5">
                <span class="d-inline"><i class="nav-link fa-brands fa-facebook me-2"></i></span>
                <span class="d-inline"><i class="nav-link fa-brands fa-square-x-twitter mx-2"></i></span>
                <span class="d-inline"><i class="nav-link fa-brands fa-google mx-2"></i></span>
                <span class="d-inline"><i class="nav-link fa-brands fa-instagram mx-2"></i></span>
            </div>
           
        </div>
    </div>
    <span routerLink="/home"class="m-0 text-end nav-link" style="color:rgb(97,109,138)"><i class="fa-regular fa-copyright pe-2" ></i><strong>Directory, 2024</strong></span>
</div>
