.site-footer-container{
    color: white;
    background-color: #183153;
    padding: 0px 200px 0 200px;
    font-size: 0.9em;
}

.nav-link {
    cursor: pointer;
    margin-bottom: 0.5em;
}

.nav-link:hover {
    color:#80CAF4;
}
