<div class="container page-container">
    <div class="mt-5">
        <div class="row align-items-center" style="height:450px">
            <div class="col">
                <span class="fs-1 d-block fw-bold">we'll be back very soon!</span>
            </div>


            <div class="fst-italic text-center col">
                <div class="flex align-items-center">
                    <i class="fa-solid fa-person-digging d-block text-danger mb-4" style="font-size: 200px; "></i>
                    <span class="d-block mt-3" style="font-size: 18px;">This page is under construction. We'll be live shortly.</span>
                    <span class="d-block mb-4" style="font-size: 18px;">Thank you for your patience.</span>
                </div>
            </div>


        </div>
        <div class="text-center mt-3">
            <button type="button" class="btn btn-warning fw-bold py-3 px-4 fs-5" style="width:350px" routerLink="/home">Go to homepage</button>
        </div>


    </div>

</div>
