.container {
  width: 100%;
  padding: 115px 0px 0px 0px;
}

.fs-smaller {
    font-size: smaller;
}

.cart-item {
    cursor: pointer;
}


.cart-item:hover {
  color: black;
  background-color: #ECEDEF
}
