<div class="container mt-4 mb-5">
    <span class="d-block fs-1 fw-bold">My Account / Cart</span>
    <span class="d-block fw-light">Current products stored in cart</span>

    <div class="mt-5">

        <div *ngIf="_itemsInCart.size != 0">
            <div class="row text-center fw-bold fs-5 mb-3">
                <div class="col-1"></div>
                <div class="col-6">Product</div>
                <div class="col-2">Price</div>
                <div class="col-1">Quantity</div>
                <div class="col-2">Subtotal</div>
            </div>

            <div *ngIf="_itemsInCart">
                <div class="row text-center align-items-center mb-1 cart-item py-3" *ngFor="let item of _itemsInCart | keyvalue">
                    <div class="col-1">
                        <img class="img-fluid" src="{{item.key.image}}" />
                    </div>
                    <div class="col-6 text-start">
                        <span class="d-block">
                            <span class="fw-bold fs-6">{{item.key.model}}, </span>
                            <span class="fs-smaller">{{item.key.brand}}</span>
                            <span class="fs-smaller"> ({{item.key.color}})</span>
                        </span>
                        <span class="d-block fs-smaller fst-italic">{{item.key.description}}</span>
                    </div>
                    <div class="col-2">
                        {{item.key.discountedPrice.toLocaleString("en-US", {
                        style: "currency",
                        currency: "Php"
                        })}}
                    </div>
                    <div class="col-1">{{item.value}}</div>
                    <div class="col-2">
                        {{getTotalPerItem(item.key, item.value).toLocaleString("en-US", {
                        style: "currency",
                        currency: "Php"
                        })}}
                    </div>
                </div>
            </div>

            <hr />

            <div class="">
                <div class="justify-content-end">
                    <div class="row p-0 m-0 mt-4">
                        <div class="col-1"></div>
                        <div class="col-6"></div>
                        <div class="col-2"></div>
                        <div class="col-3 mb-1">
                            <span class="fw-bold fs-5">Checkout Information:</span>
                        </div>
                    </div>

                    <div class="row p-0 m-0 fs-6 mt-3 mb-5">

                        <div class="col-1"></div>
                        <div class="col-6"></div>
                        <div class="col-2"></div>
                        <div class="col-1 ">
                            <span>Cart Total:</span>
                        </div>
                        <div class="col-2 text-end">
                            <span class="">
                                {{getTotalPriceInCart().toLocaleString("en-US", {
                                style: "currency",
                                currency: "Php"
                                })}}
                            </span>
                        </div>
                    </div>
                    <div class="row justify-content-end text-ceenter mt-4">
                        <div class="col-3 text-center p-0 m-0">
                            <button type="button" class="btn btn-warning rounded-pill fw-bold ">Proceed to Checkout</button>
                        </div>
                    </div>

                </div>
            </div>
            

        </div>

        <div *ngIf="_itemsInCart.size == 0" class="text-center">
            <div style="margin-top: 60px">
                <span class="d-block cart-icon mt-5"><i class="fa-solid fa-cart-shopping"></i></span>
            </div>
            <span class="d-block fs-4 fw-normal">There are no items in cart</span>
            <div class="" style="margin-bottom:100px; margin-top: 100px">
                <span class="d-block blob">
                    <span class="fs-1 fw-bold go-to-shop" routerLink="/shop"><i class="fa-solid fa-store"></i> Go to shop</span>
                </span>
            </div>
        </div>

    </div>



</div>
