i {
    cursor: pointer;
}

.btn-custom {
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
}

fs-small{
    font-size: small;
}

fs-smaller {
  font-size: smaller;
}

fs-xsmall {
  font-size: x-small;
}

fs-med {
  font-size: medium;
}

fs-cust {
    font-size: 30px;
}



