<nav class="navbar navbar-expand-lg navbar-light bg-white top-header-container">
  <div class="container px-5 d-flex justify-content-start">
    <div class="collapse navbar-collapse d-flex flex-row">
      <ul class="navbar-nav">

        <li class="nav-item px-2">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <div class="vr align-self-center"></div>

        <li class="nav-item px-2">
            <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
        </li>
        <div class="vr align-self-center"></div>

        <li class="nav-item px-2">
            <a class="nav-link" routerLink="/how-to-buy" routerLinkActive="active">How to Buy</a>
        </li>
        <div class="vr align-self-center"></div>

        <li class="nav-item px-2">
          <a class="nav-link" href="#">Events</a>
        </li>
        <div class="vr align-self-center"></div>

        <li class="nav-item px-2">
          <a class="nav-link" href="#">About Us</a>
        </li>

      </ul>
    </div>
  </div>
  
</nav>
<hr class="m-0 bg-white" style="opacity:10%"/>
